# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

build/
dist/
*.egg-info/
.eggs/

.venv/
venv/
env/

.pytest_cache/
.coverage
coverage.xml

# =========================
# OS / Editor
# =========================
.DS_Store
.idea/
.vscode/

# =========================
# Spark (CRÍTICO)
# =========================
spark-logs/
spark-events/
spark-checkpoint/
meteo_checkpoint/
meteo_out/

# Arquivos internos Spark
*.crc
.inprogress/
*.inprogress.crc

# =========================
# Docker
# =========================
*.log
docker-data/


