# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

build/
dist/
*.egg-info/
.eggs/

.venv/
venv/
env/

.pytest_cache/
.coverage
coverage.xml

# =========================
# OS / Editor
# =========================
.DS_Store
.idea/
.vscode/

# =========================
# Spark (CRÍTICO)
# =========================
spark-logs/
spark-events/
spark-checkpoint/
meteo_checkpoint/
meteo_out/

# checkpoints streaming
checkpoints/
*/checkpoints/

# Arquivos internos Spark
*.crc
.inprogress/
*.inprogress.crc

# =========================
# Data (MUITO IMPORTANTE)
# =========================
data/
*/data/
opt/spark-data/

# =========================
# Cassandra / DB
# =========================
*.db
*.sqlite
cassandra-data/

# =========================
# Kafka / logs
# =========================
*.log

# =========================
# Docker volumes
# =========================
docker-data/
volumes/

# =========================
# JARs (NÃO versionar)
# =========================
*.jar

# =========================
# Arquivos grandes de teste
# =========================
*.gz
*.zip
*.csv
*.parquet